*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body{
    /* background-image: linear-gradient(100deg, #0b9f9f80, #9d4d4d); */
    background-image: url( 'circles.svg' );
    background-repeat:repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: "Manrope", sans-serif;
    min-height: 93.5vh;
}

header{
    color: #fe1c42;
    margin-top: 50px;
    font-size: 1.8rem;
    /* text-decoration:underline; */
    cursor:default;

}

h1:hover{
    text-decoration:underline;
}
input:hover{
    opacity: 1;
}

header, form{
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background: rgba(255, 255, 255, 0.584);
    cursor: pointer;
}

form button{
    color: #A7233A;
    background: rgba(255, 255, 255, 0.584);
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: #9d4d4d00;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: circle;
}
li
{
    color: #A7233A;
}
.todo{
    margin: 0.5rem;
    background: rgba(255, 255, 255, 0.584);
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s ease;
}

.todo li{
    flex: 1;
}

.trash-btn, .complete-btn{
    background: #9d4d4dfe;
    color: white;
    border: none;
    padding: 0.8rem;
    cursor: pointer;
}

.trash-btn{
    background: rgba(255, 0, 0, 0.745);
}
.complete-btn{
    background: rgba(0, 128, 0, 0.856);
}

.todo-item{
    padding: 0rem 0.5rem;
    cursor: default;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.6;
}

.fade{
    transform: translateX(5rem);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    opacity: 0.6;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: #A7233A;
    width: 7.3rem;
    cursor: pointer;
    padding: 0.9rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background:#A7233A;
    top: 0;
    right: 0;
    padding: 0.7rem;
    pointer-events: none;
    transition: all 0.1s ease;
}
.select:hover::after{
    background: rgba(255, 255, 255, 0);
    color: #A7233A;
}